// bower:scss
// endbower

$sidebarWidth: 300px;
$sidebarWidthSmall: 80px;

$speed: .6s;
// See http://cubic-bezier.com/#.75,.07,.4,.89
$easing: cubic-bezier(.75,.07,.4,.89);

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.layout-container {
  width: 100%;
  height: 100%;
  background: red;
  position: relative;
  // Hides the scroll if we use non linear transitions and animate the width.
  overflow-x: hidden;
}

.panel {
  // Initial state 'medium'.
  width: 50%;
  height: 100%;
  position: absolute;

  // Modifiers for these objects.
  // Modifiers are always at the bottom, as a result of cascading style sheets.
  &.left {
    background: green;
    left: 0;
  }

  &.right {
    background: yellow;
    right: 0;
  }

  // State 'small'.
  &.is-collapsed {
    width: $sidebarWidthSmall;
  }

  // State 'big'.
  &.is-expanded {
    // This syntax is needed inside a calc because of sass's limitations.
    width: calc(100% - #{$sidebarWidthSmall});
  }
}

.sidebar {
  width: $sidebarWidth;
  height: 100%;
  background: blue;
  position: absolute;
  left: 0;

  button {
    float: left;
    clear: both;
  }
}

.panels-container {
  height: 100%;
  width: calc(100% - #{$sidebarWidth});
  position: absolute;
  right: 0;
}

// Modifier for the sidebar.
// This is set on the parent because of the effects on multiple objects.
.has-sidebar-collapsed {
  .sidebar {
    width: $sidebarWidthSmall;
  }

  .panels-container {
    width: calc(100% - #{$sidebarWidthSmall});
  }
}

// We only add transitions when our rendering is done for the first time.
.transitions-enabled {
  .layout-container, .panel, .sidebar, .panels-container {
    transition: width $speed $easing;
  }
}