<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>layout</title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body>

  <div class="layout-container" rv-class-has-sidebar-collapsed="layout.sidebar.collapsed" id="layout-container">
    <div class="sidebar">
      <button rv-on-click="functions.toggleSidebar">Toggle</button>

      <button rv-on-click="functions.setPanelsBothMiddle" rv-unless="functions.bothPanelsAreMedium | call layout.panel.left.expanded layout.panel.right.expanded">Medium</button>

      <button rv-on-click="functions.saveState">Save state</button>

      <button rv-on-click="functions.restoreState">Restore state</button>
    </div>

    <div class="panels-container">

      <div class="panel left" rv-class-is-expanded="layout.panel.left.expanded" rv-class-is-collapsed="layout.panel.left.collapsed">
        <button rv-on-click="functions.setPanelLeftBig" rv-unless="layout.panel.left.expanded">Big</button>
        <button rv-on-click="functions.setPanelsBothMiddle" rv-if="layout.panel.left.expanded">Medium</button>
      </div>

      <div class="panel right" rv-class-is-expanded="layout.panel.right.expanded" rv-class-is-collapsed="layout.panel.right.collapsed">
        <button rv-on-click="functions.setPanelRightBig" rv-unless="layout.panel.right.expanded">Big</button>
        <button rv-on-click="functions.setPanelsBothMiddle" rv-if="layout.panel.right.expanded">Medium</button>
      </div>

    </div>
  </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/sightglass/index.js"></script>
    <script src="/bower_components/rivets/dist/rivets.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
